<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.simplec.plugins.otaupdater"
    version="0.1.3">

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

	<name>OTAUpdater</name>
	<description>Update application resources remotely</description>
    <author>SimpleC</author>
    <keywords>ota,android</keywords>
	<license>MIT</license>
    
    <js-module src="www/OTAUpdater.js" name="OTAUpdater">
		<clobbers target="OTAUpdater" />
	</js-module>
    
    <platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
          <preference name="webView" value="com.simplec.phonegap.plugins.otaupdater.SimpleCOTAWebviewEngine" />
            <feature name="OTAUpdater" >
                <param name="android-package" value="com.simplec.phonegap.plugins.otaupdater.OTAUpdater"/>
            	<param name="onload" value="true" />
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        
	    <source-file src="src/android/com/simplec/phonegap/plugins/otaupdater/OTAUpdater.java" target-dir="src/com/simplec/phonegap/plugins/otaupdater"/>
	    <source-file src="src/android/com/simplec/phonegap/plugins/otaupdater/SimpleCOTAWebviewEngine.java" target-dir="src/com/simplec/phonegap/plugins/otaupdater"/>
	</platform>
    
</plugin>